body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.container{
  max-width: 50%;

}

h1 {
  color: #343a40;
}

form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.live-data {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
