
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.TitleForm {
  text-align: center;
  font-size: 24px;
  color: #333;
}
input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input::placeholder {
  color: #aaa;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: -8px;
}
.success-message {
  font-size: 18px;
  color: green;
  text-align: center;
  margin-top: 20px;
}
button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50px ;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
  border-radius: 50px;
}
.users-list {
  margin-top: 30px;
  padding: 10px;
}

.users-list h3 {
  font-size: 20px;
  text-align: center;
  color: #333;
}

.users-list ul {
  list-style-type: none;
  padding: 0;
}

.users-list li {
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users-list li span {
  font-weight: bold;
}


@media (max-width: 600px) {
  .container {
      padding: 15px;
  }

  .TitleForm {
      font-size: 20px;
  }

  button {
      font-size: 14px;
  }
}
